<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>onlineExam</display-name>
	<servlet>
		<servlet-name>ImageChack</servlet-name>
		<servlet-class>com.icynara.onlineexam.utils.ImageChack</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageChack</servlet-name>
		<url-pattern>/ImageChack</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ScoreServlet</servlet-name>
		<servlet-class>com.icynara.onlineexam.utils.ScoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScoreServlet</servlet-name>
		<url-pattern>/ScoreServlet</url-pattern>
	</servlet-mapping>
	<!-- spring配置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 配置Spring的OpenSessionInViewFilter，以解决懒加载异常 只能放在中间 -->
	<filter>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<!-- struts配置 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
